
.square{
  box-sizing: border-box;
  height: 100px;
  font-size: 18px;  
  padding-top: 40px;
  text-align: center;
}
.responsive-shuffle {
  margin:10px;
}
.title{
  background:#333;
  color:#fff;
  height:30px;
  width:100%;
  text-align:center;
  padding-top:10px;
}

.strip{
  display:block;
}
.title-desktop{
  display:none;
}

.actBtns{
  padding: 10px;
  display: flex;
  flex-direction:row;
}

@media only screen and (max-width: 375px) {
.row{
  display:flex;
  flex-direction: column;  
}
.responsive-shuffle {
  display: flex;
  flex-direction: column-reverse; 
}
.squares{  
  display: flex;
  flex-direction: column-reverse;
}
.square{
  width:5px!important;
  overflow: hidden;
}
}

@media only screen and (min-width: 960px) {
  .row{
    display:flex;
    flex-direction: row;  
  }
  
.actBtns{
  padding: 10px;
  display: flex;
  flex-direction:column;
}
.strip{
  display:none;
}
  .square{
    width: 100px;
  }
.title-desktop{
  display:block;
}
  .title{
    display:none!important;
  }
.squares{  
  display: flex;
  flex-direction: column;
}
  .responsive-shuffle {
    display: flex;
    flex-direction: row-reverse;
    float:left;
  }
}

.actionButton{
 margin: 10px;
 width: 100px;
 background:rgb(114, 195, 220);
 color:#fff;
 border-radius:5px;
 padding:10px;
 border:0px;
 box-shadow: 0px 3px #999;
 margin:5px;
 outline:none;
 cursor:pointer;
}